.results-item {
  background-color: $light-grey;
  color: white;
  font-size: 2rem;
  width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: [info-s] 1fr [info-e img-s] 1fr [img-e];
  grid-template-rows: 1fr;

  &__info {
    grid-column: info-s/info-e;
    font-size: 3rem;

    &__title {
      font-weight: 700;
      font-size: 6rem;
      font-family: $primary-font;
      margin-bottom: 25px;
      border-bottom: 8px solid $primary-color;
      padding-bottom: 10px;
      margin-right: 80px;
    }

    .message {
      position: fixed;
      bottom: 50px;
      right: 50px;
      @include btn();
      width: 100px;
      height: 100px;
      text-align: center;
      line-height: 100px;
      color: $light-grey;
      font-size: 4rem;
      border-radius: 50%;
    }
  }

  &__img {
    grid-column: img-s/img-e;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
